doctype html
html
  head
    // META
    block opengraph
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Optimize mobile viewport
    title Appy
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', integrity='sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==', crossorigin='anonymous')
    link(rel='stylesheet', href='https://bootswatch.com/yeti/bootstrap.min.css')
    link(rel='stylesheet', href='/css/sticky-footer-navbar.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon') 
    block js
block body
    block menu