nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        img(alt='Appy', src='/img/logo.png')
    #myNavbar.collapse.navbar-collapse
      ul.nav.navbar-nav
        li.active
          a(href='/messages/')
            span.glyphicon.glyphicon-list
            |  Messages
      ul.nav.navbar-nav.navbar-right
        li 
          a(href='/')
            span.glyphicon.glyphicon-user  
            |   #{user.username}
        li
          a(href='/users/logout')
            span.glyphicon.glyphicon-log-in
            |   Logout